.title-container {
  position: relative;

  h1 {
    font-size: 54px;
    font-weight: 200;
    letter-spacing: -1px;
    margin-left: -4px; // THAT WOULD HURT YOUR EYES TOO, TRUST ME ON THAT
  }

  h3 {
    font-size: 17px;
    // font-variant: small-caps;
    font-weight: 500;
  }
}
