.socials-container {
  display: block;
  position: absolute;
  bottom: calc(2 * var(--pad));
  left: calc(2 * var(--pad));

  ul {
    display: flex;
    justify-content: space-between;

    li {
      list-style: none;
    }

    .icon {
      margin: auto;
    }

    a {
      display: inline-flex;
      font-size: 3rem;
      text-decoration: none;
      color: var(--social-icon-color);
      width: 6rem;
      height: 6rem;
      transition: 0.5s linear;
      position: relative;
      z-index: 1;
      margin: auto;

      &:hover {
        color: #fff;

        &:hover:before {
          transform: scale(1);
          background: var(--social-icon-hover-bg);
        }
      }

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 6rem;
        height: 6rem;
        background: #000;
        border-radius: 50%;
        z-index: -1;
        transform: scale(0);
        transition: 0.3s cubic-bezier(0.95, 0.32, 0.37, 1.21);
      }
    }
  }
}
