.page {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0c0022;
  color: #fff;

  .page-header {
    display: flex;
    flex-direction: column;
    position: relative;
    top: calc(2 * var(--pad));
    left: calc(2 * var(--pad));
  }
}

ul,
ol {
  list-style: none;
}
